.mainCodingPageBox.MuiBox-root {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 2%;
}

.codingSpace.MuiBox-root {
  width: 75%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}

.adminSpace.MuiBox-root {
  width: 25%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.adminArea.MuiBox-root {
  background-color: #2a2e38;
}

.endTurnBox.MuiBox-root {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  transform: translate(0px, 5px);
  align-items: center;
}

.titleBar.MuiBox-root {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}

.MuiButtonBase-root.MuiTab-root {
  color: #4c566a;
}
