.mainProfilePageBox.MuiBox-root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profilePageVerticalBox.MuiBox-root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.profilePageConfirmationBox.MuiBox-root {
<<<<<<< HEAD
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
=======
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
>>>>>>> 3d8ee6b168eeb967d9432f6c20f7bdd43413572e
}

.changePasswordBox.MuiBox-root {
  display: flex;
  flex-direction: column;
}

.avatarButtonSection {
  position: relative;
  transform: translate(-100px, 32px);
  cursor: pointer;
}

.avatarButton.MuiAvatar-root {
  position: absolute;
  width: 230px;
  height: 230px;
}

.editAvatarButton.MuiButton-root {
  position: absolute;
  transform: translate(8px, 186px);
}

.editAvatarButton.MuiButton-root:hover {
  background-color: #3b4252;
}

.profilePageAdminPage {
  transform: translate(25px, 270px);
}

.profilePageTextField .MuiOutlinedInput-root fieldset {
    border-color: rgb(192, 192, 192);
}

.profilePageTextField .MuiOutlinedInput-root.Mui-focused fieldset {
    border-color: rgb(192, 192, 192);
}

.profilePageResponseMsg {
    color:red;
    font-size: 12px;
    font-family: "Roboto",sans-serif;
}

.profilePageDeleteSuccess {
    display: flex;
    flex-direction: column;
}
